@model List<Autor>
<!-- tento file slouží pouze k ověření konektce projektu a oracle db-->
<h2>Seznam Autorů</h2>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var autor in Model)
        {
            <li>ID: @autor.IdAutor, Jméno: @autor.Jmeno, Příjmení: @autor.Prijmeni</li>
        }
    </ul>
}
else
{
    <p>Nebyli nalezeni žádní autoři.</p>
}