@model List<HierarchieZamestnancu>

@if (Model.Any())
{
    <ul>
        @foreach (var subordinate in Model)
        {
            <li>
                <strong>@subordinate.Pozice:</strong> @subordinate.Jmeno @subordinate.Prijmeni
                @Html.Partial("_RenderSubordinates", Model.Where(e => e.NadrazenyId == subordinate.IdZamestnanec).ToList())
            </li>
        }
    </ul>
}

