@model List<BinarniObsah>

<h2>Vyberte nový profilový obrázek</h2>
<form asp-action="ChangeProfilePicture" method="post">
    <div class="form-group">
        <label for="profilePicture">Vyberte obrázek:</label>
        <select name="selectedFileId" class="form-control">
            @foreach (var file in Model)
            {
                <option value="@file.IdObsah">@file.NazevSouboru</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Změnit obrázek</button>
    <a asp-action="Profile" class="btn btn-secondary mt-3">Zpět</a>
</form>




