@model List<HistoryLog>

<h2>Historie změn</h2>
<div class="scrollable">
<table class="table">
    <thead>
            <tr>
                <th>Tabulka</th>
                <th>Typ operace</th>
                <th>Uživatel</th>
                <th>Čas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model)
            {
                <tr>
                    <td>@log.TableName</td>
                    <td>@log.OperationType</td>
                    
                    <td>@log.Timestamp.ToString("g")</td>
                </tr>
            }
    </tbody>
</table>
</div>

