@model List<BDAS2_Kratky_Horak_Semestralni_Prace.Models.HistoryLog>

<h2>Logy Historie</h2>

<table class="table">
    <thead>
        <tr>
            
            <th>Tabulka</th>
            <th>Operace</th>
            <th>Čas</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                
                <td>@log.TableName</td>
                <td>@log.OperationType</td>
                <td>@log.Timestamp.ToString("g")</td>
               
            </tr>
        }
    </tbody>
</table>
