@model BDAS2_Kratky_Horak_Semestralni_Prace.Models.AdresaEditViewModel

<h2>Upravit adresu</h2>

<form asp-controller="Adresa" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Adresa.IdAdresa" />

    <div class="form-group">
        <label asp-for="Adresa.Ulice"></label>
        <input asp-for="Adresa.Ulice" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="Adresa.PSC"></label>
        <input asp-for="Adresa.PSC" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="Adresa.CP"></label>
        <input asp-for="Adresa.CP" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="Adresa.IdObec"></label>
        <select asp-for="Adresa.IdObec" asp-items="Model.Obce" class="form-control"></select>
    </div>

    <div class="form-group">
        <label asp-for="Adresa.IdMuzeum"></label>
        <select asp-for="Adresa.IdMuzeum" asp-items="Model.Muzea" class="form-control"></select>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Uložit změny</button>
</form>
