@model BDAS2_Kratky_Horak_Semestralni_Prace.Models.Oddeleni

<h2>Přidat nové oddělení</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label for="Nazev">Název</label>
        <input type="text" asp-for="Nazev" class="form-control" />
        <span asp-validation-for="Nazev" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="IdMuzeum">Muzeum</label>
        <select asp-for="IdMuzeum" asp-items="@(new SelectList(ViewBag.MuzeumList, "IdMuzeum", "Nazev"))" class="form-control"></select>
        <span asp-validation-for="IdMuzeum" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Přidat</button>
    <a asp-action="Index" class="btn btn-secondary">Zpět</a>
</form>

