@model Fotografie

<h2>Vytvořit fotografie</h2>

<form asp-action="CreateFotografie" method="post">
    <div class="form-group">
        <label asp-for="Nazev"></label>
        <input asp-for="Nazev" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Stari"></label>
        <input asp-for="Stari" class="form-control" type="number" />
    </div>
    <div class="form-group">
        <label asp-for="Popis"></label>
        <textarea asp-for="Popis" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="IdStav">Stav</label>
        <select asp-for="IdStav" class="form-control" asp-items="ViewBag.Stavy"></select>
    </div>

    <div class="form-group">
        <label for="IdSbirka">Sbírka</label>
        <select asp-for="IdSbirka" class="form-control" asp-items="ViewBag.Sbirky"></select>
    </div>
    <div class="form-group">
        <label asp-for="Zanr"></label>
        <input asp-for="Zanr" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Licence"></label>
        <input asp-for="Licence" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Vytvořit</button>
    <a asp-action="Index" class="btn btn-secondary">Zpět</a>
</form>
