@model IEnumerable<BDAS2_Kratky_Horak_Semestralni_Prace.Models.NonDisplayedItemViewModel>

<div class="container mt-4">
    <h2>Nepoužívané Předměty</h2>
<div class="scrollable">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
               
                <th>Název</th>
                <th>Stav</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>@item.Nazev</td>
                    <td>@item.Stav</td>
                </tr>
            }
        </tbody>
    </table>
    </div>

    <a asp-action="Index" class="btn btn-secondary">Zpět</a>
</div>

