@model BDAS2_Kratky_Horak_Semestralni_Prace.Models.Obec

<h2>Smazat obec</h2>

<p>Opravdu chcete smazat obec <strong>@Model.Nazev</strong>?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="IdObec" />
    <button type="submit" class="btn btn-danger">Smazat</button>
    <a asp-controller="Obec" asp-action="Index" class="btn btn-secondary">Zpět</a>
</form>

