@model IEnumerable<BDAS2_Kratky_Horak_Semestralni_Prace.Models.Obec>

<h2>Seznam Obcí</h2>

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Obce</h2>
    <a asp-controller="Obec" asp-action="Create" class="btn btn-primary">Přidat novou obec</a>
</div>

<div class="scrollable">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Název</th>
                <th>Země</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obec in Model)
            {
                <tr>
                    <td>@obec.Nazev</td>
                    <td>@obec.ZemeNazev</td>
                    <td>
                        <a asp-controller="Obec" asp-action="Edit" asp-route-id="@obec.IdObec" class="btn btn-warning btn-sm">Upravit</a>
                        <a asp-controller="Obec" asp-action="Delete" asp-route-id="@obec.IdObec" class="btn btn-danger btn-sm">Smazat</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
