@model BDAS2_Kratky_Horak_Semestralni_Prace.Models.Sbirka

<h2>Editovat Sbírku</h2>

<form asp-controller="Sbirka" asp-action="Edit" method="post">
    <input type="hidden" asp-for="IdSbirka" />
    <div class="form-group">
        <label for="Nazev">Název</label>
        <input type="text" class="form-control" id="Nazev" name="Nazev" asp-for="Nazev" required />
    </div>

    <div class="form-group">
        <label for="Popis">Popis</label>
        <textarea class="form-control" id="Popis" name="Popis" asp-for="Popis" required></textarea>
    </div>

    <div class="form-group">
        <label for="IdMuzeum">Muzeum</label>
        <select class="form-control" id="IdMuzeum" name="IdMuzeum">
            @foreach (var muzeum in (IEnumerable<BDAS2_Kratky_Horak_Semestralni_Prace.Models.Muzeum>)ViewBag.Muzea)
            {
                if (muzeum.IdMuzeum == Model.IdMuzeum)
                {
                    <option value="@muzeum.IdMuzeum" selected>@muzeum.Nazev</option>
                }
                else
                {
                    <option value="@muzeum.IdMuzeum">@muzeum.Nazev</option>
                }
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Uložit změny</button>
</form>
