@inject IHttpContextAccessor httpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Muzeiní sbírky - Krátký_BDAS2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BDAS2_Kratky_Horak_Semestralni_Prace.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Muzeiní Sbírky</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="Index">Domů</a>
                        </li>
                     
                        @if (httpContextAccessor.HttpContext.Session.GetString("IsLoggedIn") == "true")
                        {
                            <!-- Menu pro přihlášené uživatele -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" id="tablesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Správa Tabulek
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="tablesDropdown">
                                   <li><a class="dropdown-item" asp-controller="Predmet" asp-action="Index">Předměty</a></li>
                                    <li><a class="dropdown-item" asp-controller="Adresa" asp-action="Index">Adresy</a></li>
                                    <li><a class="dropdown-item" asp-controller="Oddeleni" asp-action="Oddeleni">Oddělení</a></li>
                                    <li><a class="dropdown-item" asp-controller="Sbirka" asp-action="Index">Sbírky</a></li>
                                    <li><a class="dropdown-item" asp-controller="Autor" asp-action="Index">Autoři</a></li>
                                    <li><a class="dropdown-item" asp-controller="Material" asp-action="Index">Materiály</a></li>
                                    <li><a class="dropdown-item" asp-controller="Zeme" asp-action="Index">Země</a></li>
                                    <li><a class="dropdown-item" asp-controller="Obec" asp-action="Index">Obce</a></li>
                                    <li><a class="dropdown-item" asp-controller="Muzeum" asp-action="Index">Muzea</a></li>
                                    <li><a class="dropdown-item" asp-controller="StavPredmetu" asp-action="Index">Stavy</a></li>
                                    

                                </ul>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav">
                        @if (httpContextAccessor.HttpContext.Session.GetString("IsLoggedIn") == "true")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Profil
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                                    <li><a class="dropdown-item" asp-controller="Account" asp-action="Profile">Můj profil</a></li>
                                    

                                    <li><a class="dropdown-item" asp-controller="Account" asp-action="EditProfile">Nastavení</a></li>
                                    <li><a class="dropdown-item" asp-controller="DB" asp-action="SearchEmploy">Najít zaměstnance</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link text-light">Přihlášen jako: @httpContextAccessor.HttpContext.Session.GetString("Username")</span>
                            </li>
                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="Logout" method="post" class="nav-link">
                                    <button type="submit" class="btn btn-outline-light">Odhlásit se</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-primary" asp-controller="Account" asp-action="Login">Přihlášení</a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark text-center text-white py-3">
        <div class="role-emulation-form"> 
        <div class="container">

            @if (ViewData["OriginalRole"]?.ToString() == "Admin")
            {
                <form asp-controller="Account" asp-action="EmulateRole" method="post" class="role-emulation-form">
                    <label for="emulateRole">Emulovat roli:</label>
                        <select name="emulateRole" id="emulateRole" class="form-control" onchange="this.form.submit();">
                            @if (ViewData["EmulatedRole"]?.ToString() == "Admin")
                            {
                                <option value="Admin" selected="selected">Admin</option>
                            }
                            else
                            {
                                <option value="Admin">Admin</option>
                            }
                            @if (ViewData["EmulatedRole"]?.ToString() == "Manager")
                            {
                                <option value="Manager" selected="selected">Manager</option>
                            }
                            else
                            {
                                <option value="Manager">Manager</option>
                            }
                            @if (ViewData["EmulatedRole"]?.ToString() == "Registered")
                            {
                                <option value="Registered" selected="selected">Registered</option>
                            }
                            else
                            {
                                <option value="Registered">Registered</option>
                            }
                            @if (ViewData["EmulatedRole"]?.ToString() == "User")
                            {
                                <option value="User" selected="selected">User</option>
                            }
                            else
                            {
                                <option value="User">User</option>
                            }
                        </select>

                </form>
            }


            &copy; 2024 - Muzejní Databáze | <a class="text-light" asp-controller="Home" asp-action="Privacy">Ochrana údajů</a>

        </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
