@model BDAS2_Kratky_Horak_Semestralni_Prace.Models.Muzeum

<h2>Smazat muzeum</h2>

<p>Opravdu chcete smazat muzeum s názvem: <strong>@Model.Nazev</strong>?</p>

<form asp-asp-controller="Muzeum" asp-action="DeleteConfirmed" method="post">
    <input type="hidden" name="id" value="@Model.IdMuzeum" />
    <button type="submit" class="btn btn-danger">Ano, smazat</button>
    <a asp-action="Index" class="btn btn-secondary">Zrušit</a>
</form>


